body{
    color: rgb(150, 0, 0);
    background: black;
    font-family: "Libre Baskerville", serif;
    margin: 0px;
    margin-bottom: 100px;
}



.chamada{
    background: rgb(199, 196, 196);
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}